body {
    background-color: rosybrown;
    font-family: "Arial", sans-serif;
}

p {
    margin: 5px 0;
}

.business-card {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: black 2px solid;
    font-size: 16px;
}

.profile-image {
    max-width: 100%;
    border: #aaa 2px solid;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.full-name {
    font-size: 24px;
    color: #293e12;
}

.designation {
    font-size: 18px;
    color: #777;
}

.company {
    color: #aaa;
}

h2 {
    margin: 0 0 15px 0;
}

hr {
    margin: 20px 0;
}

.social-media a {
    color: rgb(142, 69, 27);
    margin: 0 10px 0 10px;
}
