* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.page {
    height: 100vh;
    padding-top: 2rem;
    background-color: #ddd;
}

.card {
    background-color: #fff;
    max-width: 60%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 8px #00000022;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.todo-list {
    list-style: none;
    padding-left: 0;
}

.todo-list li {
    background-color: #cefbce;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

li ul {
    list-style: square;
}

.sub-item-link {
    text-decoration: none;
}

.sub-item-link:hover {
    color: red;
}

.sub-item-link:focus {
    border: 2px solid orange;
}

.sub-item-link:active {
    color: pink;
}

.sub-item-link:visited {
    color: purple;
}
