* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ddd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post-card {
    background-color: white;
    border-radius: 1rem;
    width: 50vh;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.post-img {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 2px solid #444;
    border-radius: 1rem 1rem 0 0;
}

.post-content {
    padding: 0 1rem;
}

.post-title,
.post-excerpt {
    margin: 5px;
}

.post-title {
    color: #222;
}

.post-excerpt {
    color: #444;
}

.read-more {
    padding: 0.5rem 1rem;
    margin: 0.25rem 1rem 1rem 1rem;
    background-color: #333;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    display: inline-block;
}

.read-more:hover {
    background-color: #555;
}
